body{
  background-color: white;
  background-image: url("images/backgroundPhotoHomepage.jpg");
  background-repeat:no-repeat;
  background-attachment: scroll;
  height: 1000px; width: 960px;}
.wrapper{
  width:720px;
  margin:0px auto}
.header{
  float: left;
  margin-left: -60px;
  margin-top: 12px;}
