<html>
<head>
	<title>Marianna Website</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section id="nav-bar">
	<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="../static/img/logowithnamewhite.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  	<i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CODING PROJECTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">WRITING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
	
</section>

<!--- BANNER SECTION --->
<section id="banner">
<img src="../static/img/forest2.jpg" class="bottom-img">
</div>
</section>

<!--- Jumbotron --->
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div> -->

<!--- Three Column Section --->
<section class="three-column"
<div class="container my-3">
	<div class="row py-4">
		<div class="col-lg-4"><img src="../static/img/dot.jpg" alt="" class="w-100">
		</div>
		<div class="col-lg-4 mb-4 my-lg-auto text-center">
			<h1 class="text-dark font-weight-bold mb-3">My mind is curious.</h1>
			<p class="mb-4">I'm Marianna. I study BSc Computing Science & Politics (Joint Honours) at Glasgow University.</p>
			<p class="mb-4">I am intrigued by how computers work, and how they are
    constantly changing the world we live in. My degree is challenging and pushes me to
    change the way I think about problems.</p>
    		<p class="mb-4">Outside of my studies, I write articles - mainly about technology. I am currently
    writing a novel. I also love reading and running.</p>
    	<p class="mb-4"><b>I built this website to showcase my work.</b></p>
			</div>
			<div class="col-lg-4"><img src="../static/img/headshot.jpg" alt="" class="w-100">
			</div>
		</div>
	</div>
</section>

<!--- Recent Posts Section -->
<section class="hero py-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="hero-post shadow mb-3">
					<img class="img-fluid" alt="" src="../static/img/glasgowuni.jpg">
					<div class="hero-post-badges text-center">
						<a class="p-2 px-3 mb-2" href="#"><i class="mr-2 fa fa-calendar-o" aria-hidden="true"></i></i>16 July 2020</a>
						<a  class ="p-2 mb-2" href="#">Technology</a>
					</div>
					<div class="hero-post-content shadow">
						<div class="row">
							<div class="col-md-2">
								<img alt="Author" class="img-fluid rounded-circle" src="../static/img/headshot.jpg">
							</div>
							<div class="col-md-10">
								<h2>My blog post,,,aada</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="hero-post shadow">
					<img class="img-fluid" alt="" src="../static/img/pattern.jpg">
					<div class="hero-post-badges">
						<a class="p-2 mb-2 px-3" href="#"><i class="mr-2 fa fa-calendar-o" aria-hidden="true"></i></i>16 July 2020</a>
						<a class="p-2" href="#">Technology</a>
					</div>
					<div class="hero-post-content shadow">
						<div class="row">
							<div class="col-md-2">
								<img alt="Author" class="img-fluid rounded-circle" src="../static/img/headshot.jpg">
							</div>
							<div class="col-md-10">
								<h3>My blog post,,,aada</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="hero-post shadow">
					<img class="img-fluid" alt="" src="../static/img/leaves.jpg">
					<div class="hero-post-badges">
						<a class="p-2 mb-2 px-3"href="#"><i class="mr-2 fa fa-calendar-o" aria-hidden="true"></i></i>16 July 2020</a>
						<a class="p-2" href="#">Technology</a>
					</div>
					<div class="hero-post-content shadow">
						<div class="row">
							<div class="col-md-2">
								<img alt="Author" class="img-fluid rounded-circle" src="../static/img/headshot.jpg">
							</div>
							<div class="col-md-10">
								<h3>My blog post,,,aada</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
				
<!--Main Blog Section -->
<section class="blog-posts py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<article class="blog-post mb-3">
						<div class="row">
							<div class="col-sm-3">
								<img class="img-fluid" alt="" src="../static/img/portrait.jpg">
							</div>
							<div class="col-sm-9">
								<h3>My blog post title</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<div class="badge">
									<a href="#">Programmer</a>
									<a href="#">Technology</a>
								</div>
							</div>
						</div>
				</article>
				<article class="blog-post mb-3">
						<div class="row">
							<div class="col-sm-3">
								<img class="img-fluid" alt="" src="../static/img/portrait.jpg">
							</div>
							<div class="col-sm-9">
								<h3>My blog post title</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<div class="badge">
									<a href="#">Programmer</a>
									<a href="#">Technology</a>
								</div>
							</div>
						</div>
				</article>
				<article class="blog-post mb-3">
						<div class="row">
							<div class="col-sm-3">
								<img class="img-fluid" alt="" src="../static/img/portrait.jpg">
							</div>
							<div class="col-sm-9">
								<h3>My blog post title</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<div class="badge">
									<a href="#">Programmer</a>
									<a href="#">Technology</a>
								</div>
							</div>
						</div>
				</article>
				<article class="blog-post mb-3">
						<div class="row">
							<div class="col-sm-3">
								<img class="img-fluid" alt="" src="../static/img/portrait.jpg">
							</div>
							<div class="col-sm-9">
								<h3>My blog post title</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								<div class="badge">
									<a href="#">Programmer</a>
									<a href="#">Technology</a>
								</div>
							</div>
						</div>
				</article>
			</div>
			<aside class="col-md-4">
				<!-- --Social links--> 
				<div class="row text-center">
					<div class="col-sm-4">
						<a class="social-link py-4 w-100">
							<i class="fa fa-facebook-official" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-sm-4">
						<a class="social-link py-4 w-100">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
					<div class="col-sm-4">
						<a class="social-link py-4 w-100">
							<i class="fa fa-LinkedIn" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<h4 class="aside-heading mt-4">Popular Authors</h4>
				<article class="row author mb-3">
					<div class="col-sm-4">
						<img class="img-fluid rounded-circle" alt="" src="../static/img/leaves.jpg">
					</div>
					<div class="col-sm-8">
						<h5 class="m-0">John Doe</h5>
						<p class="m-0"> Hello lol omg wow  </p>
						<div class="social-links">
							<a href="#"></a>
						</div>
					</div>
				</article>
					<article class="row author mb-3">
					<div class="col-sm-4">
						<img class="img-fluid rounded-circle" alt="" src="../static/img/glasgowuni.jpg">
					</div>
					<div class="col-sm-8">
						<h5 class="m-0">John Doe</h5>
						<p class="m-0"> Hello lol omg wow  </p>
						<div class="social-links">
							<a href="#"></a>
						</div>
					</div>
				</article>
					<article class="row author mb-3">
					<div class="col-sm-4">
						<img class="img-fluid rounded-circle" alt="" src="../static/img/pattern.jpg">
					</div>
					<div class="col-sm-8">
						<h5 class="m-0">John Doe</h5>
						<p class="m-0"> Hello lol omg wow  </p>
						<div class="social-links">
							<a href="#"></a>
						</div>
					</div>
				</article>
				<h4 class="aside-heading mt-4">Popular Categories</h4>
				<div class="badge w-100">
					<p class="badge-link">
						<a>Technology</a>
					</p>
					<p class="badge-link">
						<a>Programming</a>
					</p>
					<p class="badge-link">
						<a>Journalism</a>
					</p>
					<p class="badge-link">
						<a>Writing</a>
					</p>
				</div>
			</aside>
		</div>
	</div>
</section>

<!--Footer Section-->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<a class="footer-logo" href="">Blog</a>
				<p>sfoajiofsa</p>
			</div>
			<div class="col-md-4">
				<h4>Useful Links</h4>
				<ul>
					<li><a>Home</a></li>
					<li><a>Terms of Privacy</a></li>
					<li><a>Contact</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Newsletter</h4>


			</div>
		</div>
		<div class="w-100 text-center credits">
			<p>Made by Marianna Marcelline &copy; 2020. All rights reserved.</p>
	</div>
</footer>

		

</body>
</html>